@model Dharma.Models.MotivoDesistencia
@{
    ViewData["Title"] = "Cadastro de Motivo de Desistência";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Administrativa" asp-controller="Home" asp-action="Index"> Adm</a></li>
                    <li class="breadcrumb-item"><a href="#">Acadêmico</a></li>
                    <li class="breadcrumb-item"><a asp-area="Administrativa" asp-controller="MotivoDesistencia" asp-action="Index"> Motivos de Desistência</a></li>
                    <li class="breadcrumb-item active">Motivo de Desistência</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<div class="col-md-12">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Motivo de Desistência</h3>
        </div>
        <form method="post">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col-sm-5">
                        <label asp-for="Nome" class="form-label"></label>
                        <input asp-for="Nome" class="form-control" placeholder="Motivo">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
        </form>
    </div>
</div>